.app {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.inputButtons {
  background-color: "#cee3e8";
  padding: 8px;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
}

.inputButtons--add:hover {
  background-color: darkgreen;
  color: white;
}
.inputButtons--destroy:hover {
  background-color: red;
  color: white;
}

.formContainer {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 80%;
  justify-content: center;
}

@media only screen and (min-width: 768px) {
  .formContainer {
    flex-direction: row;
  }
}
